.lolesportStandingsLogo {
  margin-top: 5px;
  height: 50px;
  width: 50px;
}

.lolesportStandingsOrdinalText {
  font-size: 32px;
}

.lolesportStandingsLeagueStandingsTable {
  color: white
}

.lolesportStandingsTeamCode {
  font-size: 20px;
  height: 20px;
  padding-bottom: 4px;
}

.lolesportStandingsTeamCodeTeamRatio {
  font-size: 12px;
  height: 12px;
  color: #8fa3b0;
}

.lolesportStandingsLeagueStandingsRow {
  height: 36px;
  vertical-align: top;
}