.logo {
  padding-top: 5px;
  height: 35px;
  width: 35px;
}

.ordinalText {
  font-size: 32px;
}

body {
  color: white
}

.teamCode {
  font-size: 20px;
  padding: 0px;
}

.teamRatio {
  font-size: 12px;
  color: #8fa3b0;
  padding: 0px;
  margin: 0px;
}

.row {
  height: 34px;
}