<table class="lolesportStandingsLeagueStandingsTable">
  {% if standings.length === 0 %}
    <tr>
      <td>{{ 'NO_STANDINGS_FOUND' | translate }}</td>
    </tr>
  {% else %}
    {% if config.showStageName %}
      <thead>
        <tr>
          <div>{{stageName}}</div>
        </tr>
      </thead>
    {% endif %}
    {% for standing in standings %}
      {% if standing.teams.length === 1 %}
        <tr class="lolesportStandingsLeagueStandingsRow">
          <td class="lolesportStandingsOrdinalText">{{standing.ordinal}}</td>
          {% if config.showTeamIcons %}
            <td><img class="lolesportStandingsLogo" src="{{ standing.teams[0].image }}"/></td>
          {% endif %}
          <td class="lolesportStandingsLeagueStandingsRow">
            {% if config.useTeamFullName %}
              <div class="lolesportStandingsTeamCode">{{standing.teams[0].name}}</div>
            {% else %}
              <div class="lolesportStandingsTeamCode">{{standing.teams[0].code}}</div>
            {% endif %}
            {% if standings.teams[0].record %}
              <div class="lolesportStandingsTeamCodeTeamRatio">{{standing.teams[0].record.wins}}W-{{standing.teams[0].record.losses}}L</div>                
            {% endif %}
          </td>
        </tr>
      {% else %}
        {% for team in standing.teams %}
          {% if loop.index0 === 0 %}
            <tr>
              <td class="lolesportStandingsOrdinalText">{{standing.ordinal}}</td>
              {% if config.showTeamIcons %}
                <td><img class="lolesportStandingsLogo" src="{{ team.image }}"/></td>
              {% endif %}
              <td class="lolesportStandingsLeagueStandingsRow">
                {% if config.useTeamFullName %}
                  <div class="lolesportStandingsTeamCode">{{standing.teams[0].name}}</div>
                {% else %}
                  <div class="lolesportStandingsTeamCode">{{standing.teams[0].code}}</div>
                {% endif %}
                {% if standings.teams[0].record %}
                  <div class="lolesportStandingsTeamCodeTeamRatio">{{standing.teams[0].record.wins}}W-{{standing.teams[0].record.losses}}L</div>
                {% endif %}
              </td>
            </tr>
          {% else %}
            <tr>
              <td class="lolesportStandingsOrdinalText"></td>
              {% if config.showTeamIcons %}
                <td><img class="lolesportStandingsLogo" src="{{ team.image }}"/></td>
              {% endif %}
              <td class="lolesportStandingsLeagueStandingsRow">
                {% if config.useTeamFullName %}
                  <div class="lolesportStandingsTeamCode">{{team.name}}</div>
                {% else %}
                  <div class="lolesportStandingsTeamCode">{{team.code}}</div>
                {% endif %}
                {% if team.record %}
                  <div class="lolesportStandingsTeamCodeTeamRatio">{{team.record.wins}}W-{{team.record.losses}}L</div>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
</table>